@inherits Quorum.QuorumRazorViewBase
@using System.Security.Principal
@using System.Security.Claims

@{
    Layout = "master.cshtml";
}

@if (Session != null)
{
    <p>You're logged in. Your username is @(Session.User), and your session ID is @(Session.Id). You're authenticated by the provider <code>@Session.User.Identity.AuthenticationType</code>.</p>
}
else
{
    <p>You're not logged in. Please log in <a href="/login">here</a>.</p>
}

@section Head {}
@section ManualContent {}
@section Scripts {}